body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(0, 0, 0);   
    margin: 0;
         
}

.calculadora{
    background-color: rgb(8, 8, 8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    with: 320px;   

}

.display{
    background-color: rgb(107, 104, 104);
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px;
    border radius:10px; 
    margin-bottom: 20px; 
    min-height: 50px;
    text-align: right;                                    
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
}

.button{
   border: none;
   border-radius: 50px;
   padding: 20px;
   font-size: 1.5rem;
   cursor: pointer;
}

.button.dark-gray{
    background-color: rgb(74, 75, 63);
    color: rgb(255, 255, 255);
}

.button.orange{
    background-color: rgb(255, 165, 0);
    color: rgb(255, 255, 255);
}

.button.light-gray{
    background-color: rgb(255, 255, 254);
    color: rgb(0, 0, 0);

}

.button.white{
    grid: span 2;
    border: radius: 50px;
}